<!DOCTYPE html>
<html>
<head>
    <title>tracy</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        h1 {
            margin-bottom: 20px;
        }
        table {
            margin: 0 auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1 id="binPath">tracy</h1>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>SysCall</th>
            </tr>
        </thead>
        <tbody id="traceData"></tbody>
    </table>

    <script>
        // Initialize the last fetched data as null
        let lastFetchedData = null;

        // Function to update the UI with new data
        function updateUI(data) {
            if (JSON.stringify(data) !== JSON.stringify(lastFetchedData)) {
                const binaryPath = data.binary;
                var binaryRow = document.getElementById("binPath")
                binaryRow.innerHTML = binaryPath;

                const traceData = document.getElementById("traceData");

                // Check if the new data is different from the last fetched data
                traceData.innerHTML = "";

                // Iterate over the syscalls and render the rows
                data.syscalls.forEach(syscall => {
                    const time = syscall.time;
                    const op = syscall.op;

                    const row = document.createElement("tr");
                    row.innerHTML = `<td>${time}</td><td>${op}</td>`;
                    traceData.appendChild(row);
                });

                // Update the last fetched data
                lastFetchedData = data;

                // Scroll to the end of the page
                window.scrollTo(0, document.body.scrollHeight);
            } else{
                console.log("same")
            }
        }

        // Function to establish WebSocket connection and receive data


        function connectWebSocket() {
            const socket = new WebSocket("ws://localhost:1337/ws");

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                updateUI(data);

                //socket.close()
            };

            socket.onclose = function (event) {
                console.log("WebSocket connection closed");
            };

        }

        // Call the function when the page loads
        window.onload = function () {
            connectWebSocket(); 

            // Repeat the process every 500 milliseconds
            setInterval(connectWebSocket, 500);
        };

        
    </script>
</body>
</html>
